*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montsserat', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    width: 100%;
    background: black;
    height: 75px;
    padding: 23px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: white;
    position: fixed;
}

.header_logo {
    color: inherit;
    text-decoration: none;

    transition: color 0.3s;
}

.header_logo:hover {
    color: rgb(31, 202, 224);
}

.person {
    padding-top: 100px;
    min-height: 100;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.person_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}

.person_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person_title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.person_discription{
    padding-left: 4px;
}

.person_links{
    display: flex;
}

.person_link {
    margin-right: 10px;
    font-size: 30px;
    color: white;

    transition: color 0.3s;
}

.person_link:hover{
    color:rgb(31, 202, 224)
}

.person_box{
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.navigation{
    text-align: center;
    margin: 20px auto;
    font-size: 25px;
    color: black;
    padding-bottom: 150px;
}

.nav_el{
    margin: 0 15px;
    text-decoration: none;
    
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
    color: black;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);

    transition: color  0.3s, box-shadow 0.3s, backgroundcolor 0.3s;
}

.nav_el:hover{
    color: white;
    box-shadow: none;
    background-color:rgb(31, 202, 224);
}

.article_example{
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art_about{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.1;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    font-style: italic;
    color: rgb(35, 145, 160);
}

.lists_head{
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists_example{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.name_of_list {
    font-size: 20px;
    line-height: 1.1;
}

.ascii_text{
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.ascii_example {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.snippet_text{
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.snippet_example {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.formule_text{
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.formule_example {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.formule_item{
    font-size: 35px;
}

.footer_text{
    color: white;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5%;
    background:black;
    width: 100%;
    }